body{
  width: 1500px;
  margin: 0px auto;
}
h1 {
  text-align: center;
  font-family: Times New Roman;
  font-size:250%;
  background-color:rgb(200, 50, 50);
  margin:0;
}

h2 {
  text-align: center;
  border-bottom:3px solid black;
  padding-bottom: 0;
  margin: 0px;
  width: 1500px;
}

a{
    font-size:200%;
    color:black;
    text-decoration: none;
}

#container{
  overflow: hidden;
  text-align: center;
}

.item1{
  border:1px solid black;
  float: left;
  width: 648px;
  margin: 50px;
  padding-top: 300px;
  padding-bottom: 300px;
}

.item2{
  border:1px solid black;
  float: left;
  width: 648px;
  margin: 50px;
  padding-top: 300px;
  padding-bottom: 300px;
}
